.div1 {
	margin-top: 15px;
}

a[role="tab"] {
	font-family: "宋体";
	font-size: 18px;
}

a[role="tab"]:hover {
	color: #915833;
	font-weight: bold;
}

.li11 {
	border-top: 1px solid #F6D8A0;
	width: 98%;
	font-family: kartika;
	font-size: 15px;
}

.li22 {
	border-top: 1px solid #F6D8A0;
	width: 98%;
	font-family: kartika;
	font-size: 15px;
}

.li111 {
	margin: 10px;
	height: 580px;
}

.li111 table tr {
	height: 40px;
}

.single {
	background-color: white;
}

.double {
	background-color: #FFFDF1;
}

.li111 ul>li {
	margin-top: 30px;
	list-style: none;
	float: left;
	width: 40px;
	height: 40px;
	border: 1px solid #E0E0E0;
	border-collapse: collapse;
	text-align: center;
	padding-top: 10px;
}

.div2 {
	margin-top: 25px;
}

.div22 {
	margin-left: 20px;
}

.div22 table tr td {
	border: 1px solid #F8DBA3;
	border-collapse: collapse;
	width: 65px;
	height: 35px;
	text-align: center;
}