.header {
	
}

.header1 {
	border-top: 1px solid #000000;
	border-bottom: 1px dotted #000000;
	width: 100%;
	margin-top: 20px;
	padding-left: 20px;
	background-color: #CDDAEA;
	font-weight: bold;
}

.input1 table tr td {
	width: 240px;
	height: 35px;
}

.input2 {
	margin: 30px;
}

.input2 input {
	width: 85px;
	height: 32px;
	margin-left: 50px;
	font-size: 18px;
	color: white;
	border-radius: 6px;
	border: 1px solid #E3E3E3;
	background-color: #8B658B;
}