body {
	background-image: url(../img/222.jpg);
}

.header {
	width: 100%;
	text-align: center;
	height: 40px;
	padding-top: 9px;
	background-color: #BC8F8F;
	color: white;
	font-weight: bold;
}

.center {
	padding-top: 30px;
}

.center table tr td {
	width: 130px;
	height: 50px;
}

td>input[type="text"] {
	border-radius: 8px;
	width: 200px;
	height: 40px;
}

.footer {
	padding-left: 440px;
	padding-top: 30px;
}

.footer>input {
	font-size: 18px;
	color: white;
	border-radius: 6px;
	border: 1px solid #E3E3E3;
	width: 90px;
	height: 40px;
	background-color: #FFC1C1;
}

.file-box {
	position: relative;
	width: 340px;
}

.txt {
	height: 22px;
	border: 1px solid #cdcdcd;
	width: 180px;
	
}

.btn {
	height: 30px;
	width: 80px;
	border-radius: 3px;
	border: 1px solid #E0E0E0;
	background-color: #F4A460;
	color: white;
}

.file {
	position: absolute;
	top: 0;
	right: 80px;
	height: 24px;
	filter: alpha(opacity : 0);
	opacity: 0;
	width: 260px
}