.center_bg {
	background-color: #1E78AE;
	width: 100%;
	height: 708px;
}

.center {
	background-image:url(../img/loginbg3.png);
	width: 100%;
	height: 700px;
	position: absolute;
	top: 50px;
}

.center img {
	margin-left: 400px;
}

.footer {
	background-color: #78BEE6;
	width: 100%;
	line-height: 88px;
	text-align: center;
}

div.login {
	width: 480px;
	height: 560px;
	position: absolute;
	left: 475px;
	top: 50px;
	background-color: #EEEEEE;
	border-radius: 20px;
}

.login ul>li {
	width: 240px;
	font-weight: bold;
	text-align: center;
	font-size: 21px;
	background-color: #E1EDF7;
	border-radius: 12px;
	font: "微软雅黑";
}

div.li11 {
	margin-left: 60px;
}

div.li22 {
	margin-left: 60px;
}

label[id$='-error'] {
	position: absolute;
	left: 0;
	color: red;
	bottom: -2em;
}