body {
 	width: 100%;
	height: 100%;
	background-size: 100%; 
	background-image: url(../img/1111.jpg);
}

.header {
	width: 100%;
	height: 100px;
	background-size:100%;
	background-image: url(../img/12333.jpg);
} /* */

.header1 {
	margin: auto;
	width: 87%;
}

.header1 ul {
	float: right;
}

.header1>ul li {
	list-style: none;
	float: left;
	width: 98px;
	height: 50px;
}

.header1 ul>li>a {
	text-decoration: none;
	color: #8470FF;
	font-weight: bold;
	font-size: 20px;
}

.header1 ul>li>a:hover {
	text-decoration: none;
	color: #28A4C9;
}

.center {
	width: 100%;
	height: 90px;
}

.center1 {
	margin-left: 160px;
	width: 48%;
	float: left;
}

.center1 .title11 {
	color: #607B8B;
}

.toReadIt {
	float:right;
	right:20px;
	bottom:5px;
	position: relative;
	display: block;
	width: 80px;
	height: 40px;
	background-color: #CDAD00;
	border: 1px solid #E0E0E0;
	border-radius: 5px;
	text-align: center;
	padding-top: 7px;
	color: white;
	font-weight:bold;
	
}
.toReadIt:hover{
	text-decoration: none;
	background-color: #7f905f;
	color: #00eeee;
}

.center2 {
	float: left;
	margin-top: 20px;
	margin-left: 80px;
}

.cart ul>li {
	list-style: decimal;
	margin-bottom: 8px;
}

.cart ul>li>a {
	text-decoration: none;
	color: #0F0F0F;
	font-size: 18px;
}

.cart ul>li>a:hover {
	color: #DFBA85;
}

.title ul>li {
	list-style: none;
	margin: 5px;
	margin-right: 15px;
	float: left;
}

.title ul>li>a {
	text-decoration: none;
	color: #0F0F0F;
	font-size: 14px;
}

.title ul>li>a:hover {
	color: #DFBA85;
}

.clear {
	clear: both;
}

.footer1 {
	margin-left: 160px;
	width: 77%;
}

/* .ee {
	position: absolute;
	width: 220px;
	height: 170px;
	left: 36px;
	top: 20px;
	background-image: url(../img/891.png);
	opacity: 0;
}

.thumbnail .ee:hover {
	opacity: 0.2;
} */